{% extends 'base.html'%}

{% block content %}

<div class="container-fluid" style="background-color: #f4f4f4">

<div class="container">
<div class="row">
    <!-- displaying  author-->
  <div class="col-md-4 h-100 mx-auto text-center  mt-5 p-5" style=" border-left:3px solid #283044;border-right:3px solid #283044; background: #FFFFFF;
box-shadow: 0 12px 8px -9px rgba(0,0,0,0.50); position: sticky;border-radius: 8px;">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" width="200" height="200" class="mx-auto" style="border-radius: 50%;">

    {%else%}
    <p>No profile picture</p>

    {% endif %}

    <h3 class="text-center mt-5" style="color:#283044; font-weight: 700"> {{user.author| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if user.bio %}
      <p style="font-size: 14px;"> {{user.bio}}</p>
    {%else%}
      <p> {{user.author| capitalize}} has no bio </p>
    {% endif %}
  {% if user == current_user %}
    <a href="{{url_for('main.update_profile',uname=user.author)}}" style="color: #998DA0">Edit Bio</a>
  {% endif %}
      <hr style="background-color: white;">

  {#change photo#}
    {% if user == current_user %}
            <form class="mt-5 " action="{{url_for('main.update_pic',uname=user.author)}}" method="post" enctype = "multipart/form-data">
                <h4 style="font-size: 20px; color: #E9C4B2;">Update Photo</h4>

              <input style="border: 1px solid #283044; border-radius: 8px; font-size: 14px;" type="file"  name="photo" class="w-75" required>
              <input style="background: #E9C4B2;
box-shadow: 0 8px 18px 3px rgba(0,0,0,0.07); width: 70%;" type="submit" class="mt-3 mb-3">
            </form>
      {% endif %}
  </div>
  {% endblock %}
