<br>
<nav class="navbar navbar-expand-lg ">
  <button  class="btn btn-outline-primary"><a class="navbar-brand" href="/">Blog Center</a></button>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <button class="btn btn-outline-info"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></button>
      </li>
      <br>
      <br>
      <li class="nav-item">
          <button class="btn btn-outline-info"><a class="nav-link" href="/blogposts">Blogs</a></button>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li>
        <a class="nav-link" href="{{url_for('main.profile',uname=current_user.author)}}">Profile</a>
      </li>
      <li>
        <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
      </li>
      {% else %}
      <li >
        <button class="btn btn-outline-info"><a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a></button>
      </li>
      <li >
        <button class="btn btn-outline-info"><a class="nav-link" href="{{url_for('auth.ad_login')}}">Admin Login</a></button>
      </li>
      {%endif%}
    </ul>
  </div>
  
</nav>